<h1 id='logo'>
  <%= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= navigation_menu.to_html %>
      <!-- <a class="navbar-brand" href="#"><%= link_to Refinery::Core.site_name, refinery.root_path %></a> -->
    </div>
  </div>
</nav>
